<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:title="@string/title_dynamic_feature">
        <dist:delivery>
            <!-- 安装时分发 -->
            <dist:install-time>
                <!-- 将安装时模块设置为可移除 -->
                <dist:removable dist:value="true" />
                <!-- 按条件分发 -->
                <dist:conditions>
                    <!-- 要求设备必须有此feature才在安装时下发该插件 -->
                    <dist:device-feature dist:name="android.hardware.camera.ar"/>
                </dist:conditions>
            </dist:install-time>
            <!-- 按需分发, 结合play core delivery api -->
            <dist:on-demand/>
        </dist:delivery>
        <!-- 可以从不支持下载和安装拆分 APK 的设备上将其省略 -->
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application tools:ignore="MissingApplicationIcon"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.jacky.paging3.gui.Paging3Activity"
            android:label="Paging3" />
    </application>
</manifest>